<div class="row">
  <section class="main col-md-9">
    {{#if data.item}}
    <item>
      <div class="row">
        <div class="col-4">
          <h2>{{{data.item.title}}}</h2>
          <img src="{{data.item.featureImage}}" alt="feature Image" style="width:100%" />
        </div>

        <div class="col-8"><br />
          <br />
          <div class="row">
            <div class="col-12">
              {{{data.item.body}}}
              <br /><br />
              <strong>Price:</strong>
              ${{{data.item.price}}}<br />
              <strong>Category:</strong>
              {{{data.item.categoryName}}}<br />
              <strong>Last Updated:</strong>
              {{formatDate data.item.postDate}}
            </div>
          </div>
        </div>
      </div>
    </item>
    {{else}}
    <div class="col-md-12 text-center">
      <h2>{{data.message}}</h2>
      <p>Please try another Post / Category</p>
    </div>
    {{/if}}
  </section>

  <aside class="col-md-3">
    <br /><br />
    <h4>Items</h4>

    {{#if data.items}}
    <ul class="list-group">
      {{#each data.items}}
      <a href="/shop/{{this.id}}?category={{../viewingCategory}}" class="list-group-item">{{this.title}}</a>
      {{/each}}
    </ul>
    {{/if}}

    <h4>Categories</h4>

    {{#if data.categories}}
    <ul class="list-group">
      {{#each data.categories}}
      <a href="/shop?category={{this.categoryID}}" class="list-group-item">{{this.categoryName}}</a>
      {{/each}}
    </ul>
    {{/if}}
  </aside>
</div>